MQTT_BROKER_URL=mqtt://localhost:1883
MQTT_TLS_INSECURE=true
MQTT_TLS_CA_FILE=
MQTT_TLS_CERT_FILE=
MQTT_TLS_KEY_FILE=
MQTT_TLS_REJECT_UNAUTHORIZED=false
MQTT_DEBUG=true
NAMESPACE=default
PRODUCT_ID=product-f60mo4
DEVICE_ID=product-f60mo4-device-da15ec6584ef
MQTT_CLIENT_ID=default/dev/product-f60mo4-device-da15ec6584ef
MQTT_USERNAME=
MQTT_PASSWORD=
MQTT_TOPIC_PRODUCT_IN=device-agent/{productId}/in
MQTT_TOPIC_PRODUCT_OUT=device-agent/{productId}/out
MQTT_TOPIC_DEVICE_IN=device-agent/{productId}/device/{deviceId}/in
MQTT_TOPIC_DEVICE_OUT=device-agent/{productId}/device/{deviceId}/out
MQTT_TOPIC_DEVICE_COMMAND=device-agent/{productId}/device/{deviceId}/commands
MQTT_TOPIC_DEVICE_RESPONSE=device-agent/{productId}/device/{deviceId}/responses
MQTT_TOPIC_TELEMETRY=v1/{productId}/{deviceId}/telemetry
MQTT_TOPIC_EVENT=v1/{productId}/{deviceId}/event
MQTT_TOPIC_NTP_REQUEST=device-agent/{productId}/device/{deviceId}/ntp/request
MQTT_TOPIC_NTP_RESPONSE=device-agent/{productId}/device/{deviceId}/ntp/response
VOICE_CHAT_HOST=127.0.0.1:3001
VISION_FALLBACK_IMAGE_DATA_URL=
TTS_SAMPLE_RATE=16000
